<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
        <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                  <div class="media d-flex align-items-center">
                      <a href={% url 'profile' %}>
                          <img src="{{user.profile.image.url}}" alt="..." width="100" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        </a>
                    <div class="media-body">
                        {%if user.is_authenticated %}
                      <h4 class="m-0">{{user.username}}</h4>
                      <div class="font-weight-light text-muted mb-0">마지막 접속일 {{user.last_login}}
                            <a href="{%url 'logout'%}">
                                    <div>Logout</div>
                                </a>
                            
                                {% else %}
                                <a href="{%url 'signup'%}">
                                    <div>Sign Up</div>
                                </a>
                            
                                {% endif %}
                            <a href="{%url 'login'%}">
                                <div>Login</div>
                                </a>
                      </p>
                    </div>
                  </div>
                </div>
              
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
              
                <ul class="nav flex-column bg-white mb-0">
                  <li class="nav-item">
                    <a href="{%url 'index'%}" class="nav-link text-dark font-italic bg-light">
                              Home
                          </a>
                  </li>
                  <li class="nav-item">
                    <a href="{%url 'new'%}" class="nav-link text-dark font-italic bg-light">
                              Create
                          </a>
                  </li>
                </ul>
              </div>
              <!-- End vertical navbar -->

    <p class="text-gray font-weight-bold text-uppercase px-6 small pb-4 mb-0" style="padding-left: 35px;">Create</p>
    <div class="row text-black">
            <div class="col-lg-7">
              <div class="bg-white p-5 rounded my-5 shadow-sm">
                <form method="POST">
                {%csrf_token%}
                {{forms.as_p}}
                <input type="submit" value="Create">
                </form>
            </div></div></div>
</body>
</html>